.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 75vh;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  box-shadow: 1px 1px 10px #2b0202;
  padding: 50px 100px;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.heading {
  margin: 20px;
  text-align: center;
}

.imagePreview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 1px solid black;
  border-radius: 20px;
  width: 500px;
  aspect-ratio: 1 / 1;
}

.image {
  width: 500px;
  border-radius: 20px;
}

@media (max-width: 1200px) {
  .form {
    flex-direction: column;
  }
  .formContainer {
    width: 100vw;
    height: 100vh;
  }
}

@media (max-width: 750px) {
  .imagePreview {
    width: 400px;
    border-radius: 15px;
  }
  .image {
    width: 400px;
    border-radius: 15px;
  }
  .form {
    gap: 30px;
    padding: 30px 50px;
  }
}

@media (max-width: 550px) {
  .imagePreview {
    width: 400px;
    border-radius: 15px;
  }
  .image {
    width: 400px;
    border-radius: 15px;
  }
  .form {
    gap: 30px;
    padding: 10px 20px;
  }
}

@media (max-width: 470px) {
  .imagePreview,
  .image {
    width: 250px;
  }
  .form {
    gap: 30px;
    padding: 10px 20px;
  }
  .heading {
    max-width: 100px;
    text-wrap: wrap;
  }
}
