.heading {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

/* Buttons */
button {
  border: transparent;
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 10px;
  color: lightcyan;
  cursor: pointer;
  transition: opacity 0.5s;

  &:hover {
    opacity: 0.7;
  }
}

.button__sort {
  background-color: #8f8f8f;
}

.button__edit {
  background-color: #296fa8;
}

.button__delete {
  background-color: #b43a3a;
}

.button__add {
  background-color: #269b56;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.button-wrapper-sort {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 10px 160px;
  gap: 10px;
}