.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #8a0000;
  padding: 20px;
}

.navigationLogo {
  display: flex;
  align-items: center;
}

.logo {
  width: 70px;
}

.footer {
  background-color: darkred;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
